In [27]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.preprocessing import LabelEncoder
from pandas.plotting import scatter_matrix
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

In [28]:
Hr_data=pd.read_csv("HR_comma_sep.csv")

In [29]:
Hr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   Department             14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [30]:
Hr_data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [31]:
Hr_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [32]:
le=LabelEncoder()
Hr_data["Department"]=le.fit_transform(Hr_data["Department"])
Hr_data["salary"]=le.fit_transform(Hr_data["salary"])

In [33]:
# pipline_labale=Pipeline([
#     ("label",OneHotEncoder(drop='first',sparse=False))
# ])

In [34]:
# hr_aa=pipline_labale.fit_transform(Hr_data)
# hr_aa

In [35]:
splt=StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=42)

for train_index,test_index in splt.split(Hr_data,Hr_data["salary"]):
    train_data=Hr_data.loc[train_index]
    test_data=Hr_data.loc[test_index]

Hr_data=train_data

In [36]:
train_data["salary"].value_counts()

1    5853
2    5157
0     989
Name: salary, dtype: int64

In [37]:
test_data["salary"].value_counts()

1    1463
2    1289
0     248
Name: salary, dtype: int64

In [38]:
corelation=Hr_data.corr()

In [39]:
corelation["salary"].sort_values(ascending=False)

salary                   1.000000
last_evaluation          0.018522
satisfaction_level       0.012950
average_montly_hours     0.009392
number_project           0.007745
left                     0.004030
Work_accident            0.000586
Department              -0.000250
time_spend_company      -0.007783
promotion_last_5years   -0.010738
Name: salary, dtype: float64

In [40]:
# Hr_data.hist(bins=20,figsize=(20,10))

In [41]:
# attribute=["salary","last_evaluation","satisfaction_level","promotion_last_5years"]
# scatter_matrix(Hr_data[attribute],figsize=(20,10))

In [42]:
x=Hr_data.drop("salary",axis=1)
y=Hr_data["salary"]

In [43]:

pipline_scl=Pipeline([
    ('scale',StandardScaler())
])

In [44]:
x=pipline_scl.fit_transform(x)

In [45]:
# model=LogisticRegression()
# model=RandomForestClassifier()
model=DecisionTreeRegressor()


model.fit(x,y)

DecisionTreeRegressor()

In [46]:
some_data=x[:5]
some_label=y[:5]

In [47]:
model.predict(some_data)

array([2., 2., 1., 1., 0.])

In [48]:
some_label

11263    2
1753     2
3981     1
14300    1
12943    0
Name: salary, dtype: int32

In [49]:
model.score(x,y)

0.9984674962389329

In [50]:
scores=cross_val_score(model,x,y,scoring="neg_mean_squared_error",cv=10)
rmse_scor=np.sqrt(-scores)

In [51]:
rmse_scor

array([0.75131058, 0.79739158, 0.75798221, 0.75639251, 0.75357174,
       0.7770433 , 0.81751656, 0.75694317, 0.76130751, 0.77030179])